.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.header__nav-list {
    display: block;
    gap: 8px;
    margin: 0;
    left: 100%;
    position: relative;
}

.header__contacts {
    display: block;
    margin-right: 10%;
    padding-top: 0;
}
